<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>GPS Tracker Live Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <style>
    body, html { height: 100%; margin: 0; }
    #map { height: 100%; }
  </style>
</head>
<body>
  
  <div class="container">
     <button onclick= getHistory() style="width: 30px; height: 20px; position:fixed; z-index:99 "></button>
<div id="map">

   
  </div>
  <div id="lateralMain">
    <h2>GPS Center</h2>
     <!--<div id="mediaUser">
      <img src="https://images.protrack365.com/portrait/3/31887_portrait_202108202159379_7_s.png" alt="">
      <p>San Juan</p>
    </div>-->


    <div id="user_dispositive">
      <a  id="send_commands">dispositivos</a>
      <div id="div_view_disposities">


      </div>

    </div>

  </div>

  <div id="infoDisp"></div>

  

 <style>
  .container{
   
    position: relative;
     width: 100%;
    height:100%;
    
}
  
#map{
  position: relative;
   width: 100%;
   
  
}


  #lateralMain{
    width: 300px;
    height: 100%;
    position: fixed;
    background: white;
    top: 0;
    z-index: 999;
   text-align: center;

  }
#user_dispositive{
  width: 100%;
  height: 200px;
}

  #mediaUser{
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;

    flex-direction: column;
    align-items: center;
  }

  #mediaUser img{
   
    position: relative;
     width: 100px;
    height: 100px;
  }
    #infoDisp{
      display: flex;
      flex-direction: column;
      width: 200px;
      height: 200px;
      position: fixed;
      z-index: 999;
      right: 0;
      top: 150px;
      background: white;
 visibility: hidden;
    }
      #infoDisp.active{
        visibility: visible;
      }


  </style>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-rotatedmarker/leaflet.rotatedMarker.js"></script>

  <script>




    const map = L.map('map').setView([4.65, -74.09], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    // Íconos para detenido y en movimiento
    const iconStop = L.icon({
      iconUrl: 'https://real.gpscenter.xyz/images/comm/gray_23.png',
      iconSize: [32, 32],
      iconAnchor: [16, 32],
    });

    const iconMove = L.icon({
      iconUrl: 'https://real.gpscenter.xyz/images/comm/green_23.png',
      iconSize: [32, 32],
      iconAnchor: [16, 32],
    });

    // Crear un único marcador con rotación
    const marker = L.marker([4.65, -74.09], {
      icon: iconStop,
      rotationAngle: 0,
      rotationOrigin: 'center center'
    }).addTo(map);

const ws = new WebSocket('ws://187.33.155.83:8080');
//const ws = new WebSocket('https://animated-guacamole-rqqgj7w5r4q2x6x-8080.app.github.dev')

   const imeis = <%- JSON.stringify(imeis) %>;


  // Ejemplo: mostrar el primer IMEI
  console.log("IMEIs disponibles:", imeis);
    

 if (imeis.length > 0) {
   

    ws.onopen = () => {
      ws.send(JSON.stringify({ tipo: "suscribirse", imei: imeis[0]}));


    };
  }


    ws.onmessage = (msg) => {
      const { lat, lon, course, speed } = JSON.parse(msg.data);
      
      const disp=[]
      disp.push
      marker.setLatLng([lat, lon]);
      marker.setRotationAngle(course || 0);
      marker.setIcon(speed > 0 ? iconMove : iconStop);
      map.setView([lat, lon], 15);


      marker.on('click', () => {


  var infoDisp=document.getElementById("infoDisp")
  infoDisp.innerHTML=""
  
  var p_lat=document.createElement("p")
  p_lat.id="p_lat"
  var p_lon=document.createElement("p")
  var p_course=document.createElement("p")
  var p_speed=document.createElement("p")
  
    p_lat.innerHTML="lat:"+lat
    p_lon.innerHTML="Lon:"+lon
    p_course.innerHTML="curso:"+course
    p_speed.innerHTML="vel:"+speed
  infoDisp.appendChild(p_lat)
   infoDisp.appendChild(p_lon)
    infoDisp.appendChild(p_course)
     infoDisp.appendChild(p_speed)

     infoDisp.classList.toggle("active")

});
    };

    function pintar_dispositives(){

      var div_view_disposities=document.getElementById("div_view_disposities")

      


    }

var send_commads=document.getElementById("send_commands").onclick=function(){
sendComands()
}


    ////////////////////////

    function sendComands(){
      alert("sss")
const imei="0869066061391919"
      var comando="cutEngine"
      

      ws.send(JSON.stringify({ tipo: "commands", command: comando,imei:imei}));


    
  }

      
    
    async function getImeis() {

      const id="0869066061391919"
    try {
        const response = await fetch(`http://187.33.155.83:8080/api/imeis?id=${id}`);

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();

        if (data.success) {


          var dispositive= data.historial.historial

          
          for(let i;dispositive.length;i++){

            
            console.log(dispositive[i].lon)


          }

            
        } else {
            console.error("Error en los datos:", data.message || "Sin mensaje");
        }
    } catch (error) {
        console.error("Error al conectar con la API:", error.message);
    }
}

    async function getHistory() {

      const imei="0869066061391919"
    try {
        const response = await fetch(`http://187.33.155.83:8080/api/history?imei=${imei}`);

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();

        if (data.success) {


          var dispositive= data.historial.historial

          
          for(let i;dispositive.length;i++){

            
            console.log(dispositive[i].lon)


          }

            
        } else {
            console.error("Error en los datos:", data.message || "Sin mensaje");
        }
    } catch (error) {
        console.error("Error al conectar con la API:", error.message);
    }
}

  </script>
 </div>
</body>
</html>
